[submodule "Cryptography/vendor/submodules/GLFW"]
	path = Cryptography/vendor/submodules/GLFW
	url = https://github.com/glfw/glfw
[submodule "Cryptography/vendor/submodules/imgui"]
	path = Cryptography/vendor/submodules/imgui
	url = https://github.com/ocornut/imgui
[submodule "Cryptography/vendor/submodules/glm"]
	path = Cryptography/vendor/submodules/glm
	url = https://github.com/g-truc/glm
[submodule "Cryptography/vendor/submodules/assimp"]
	path = Cryptography/vendor/submodules/assimp
	url = https://github.com/assimp/assimp
[submodule "Cryptography/vendor/submodules/eigen"]
	path = Cryptography/vendor/submodules/eigen
	url = https://gitlab.com/libeigen/eigen
